@use '@/styles/mixins' as bp;

.product {
  display: grid;
  gap: 2rem;

  hr {
    margin: 0.5rem 0;
  }

  .details {
    .price {
      margin-top: 0.5rem;
      font-size: 1.5rem;
      font-weight: 500;

      display: flex;
      gap: 0.5rem;
      align-items: center;
    }

    .info {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .rating {
        display: flex;
        align-items: center;
        gap: 0.25rem;
      }
    }

    > button {
      margin-top: 1.5rem;
    }

    @include bp.tablet {
      margin-top: 2rem;

      h1 {
        font-size: 3rem;
      }
    }
  }

  @include bp.tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
