.text-max-lines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  &-1 {
    @extend .text-max-lines;
    -webkit-line-clamp: 1;
    line-clamp: 1;
  }

  &-2 {
    @extend .text-max-lines;
    -webkit-line-clamp: 2;
    line-clamp: 2;
  }

  &-3 {
    @extend .text-max-lines;
    -webkit-line-clamp: 3;
    line-clamp: 3;
  }
}

.text {
  &-light {
    color: var(--fg-light);
  }

  &-red {
    color: var(--red);
  }

  &-green {
    color: var(--green);
  }

  &-orange {
    color: var(--orange);
  }
}

.btn-action {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--primary);
  border-radius: 100px;
  background-color: white;
  color: var(--primary);
  text-align: center;

  cursor: pointer;
  transition: 0.2s ease-in-out;

  &:hover {
    background-color: var(--primary);
    color: white;
  }

  &:active {
    background-color: var(--foreground);
    color: white;
  }
}
