.text-max-lines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  &-1 {
    @extend .text-max-lines;
    -webkit-line-clamp: 1;
    line-clamp: 1;
  }

  &-2 {
    @extend .text-max-lines;
    -webkit-line-clamp: 2;
    line-clamp: 2;
  }

  &-3 {
    @extend .text-max-lines;
    -webkit-line-clamp: 3;
    line-clamp: 3;
  }
}

.text {
  &-light {
    color: var(--fg-light);
  }

  &-red {
    color: var(--red);
  }

  &-green {
    color: var(--green);
  }

  &-orange {
    color: var(--orange);
  }
}

.btn {
  background-color: transparent;
  border: 1px solid transparent;

  color: var(--primary);
  cursor: pointer;
  transition: 0.2s ease-in-out;

  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;

  &-action {
    @extend .btn;

    width: 100%;
    border: 1px solid var(--primary);
    border-radius: 100px;
    background-color: white;
    padding: 0.5rem 1rem;

    &:hover {
      background-color: var(--primary);
      color: white;
    }

    &:active {
      background-color: var(--foreground);
      color: white;
    }
  }

  &-ghost {
    @extend .btn;

    font-size: 0.75rem;
    border-radius: 1.5rem;
    padding: 0.5rem 1rem;

    &:hover {
      border: 1px solid var(--primary);
    }

    &:active {
      background-color: var(--foreground);
      color: white;
    }
  }

  &-icon {
    @extend .btn;

    padding: 0.25rem;
    border-radius: 0.25rem;
    border: var(--border);

    &:hover {
      border: 1px solid var(--primary);
      color: var(--foreground);
    }

    &:active {
      border: 1px solid var(--foreground);
      color: var(--foreground);
    }
  }
}
